/* 
 * ITC Full-Stack Bootcamp
 * Fibonacci assignment
 * 19/06/2022
 * Asaf Gilboa
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: 'Open Sans';
    color: #373A3C;
    font-weight: 400;
    font-size: 1.8vw;
}
#loader {
    display: none;
}
#inputX {
    width: 15%;
}
