
html, body {
    height: 100%;
    font-family: 'Open Sans';
    color: #373A3C;
    font-weight: 400;
}
#message {
    background-color: #F2DEDE;
    color: #A94442;
}
.resultLine {
    font-size: 1.7vw;
}
#sortBy>button {
    background-color: #E6E6E6;
    border:1px solid #cdcdcd;
}
#sortBy {
    cursor: pointer;
}
.sortOption {
    color:rgb(77, 77, 77);
}

